@import "./src/util/variables";

.textarea {
  @extend %regular-font;
  margin: .5rem .5rem;
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  color: $primary-text;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  resize: none;

  &::placeholder {
    color: rgba($white, .2);
  }

  &:disabled {
    cursor: default;
  }
}

.textarea-group {
  @extend %col-nowrap;

  &__label {
    @extend %small-font;
    color: $label-text;
    padding: 0 .5rem .25rem;
    cursor: default;
  }

  &__error-message {
    @extend %small-font;
    color: $error-red;
    padding: .25rem .5rem 0;
  }

  &__group {
    @extend %row-nowrap;
    background-color: rgba($black, .025);
    border-bottom: 1px solid transparent;
    border-radius: .125rem;

    &:focus-within {
      background-color: rgba($black, .035);
      border-bottom: 1px solid $primary-blue;
    }

    .icon {
      opacity: .1;
      transition: opacity 150ms ease-in-out;
      margin-right: .75rem;

      &:hover {
        opacity: .2;
      }

      &:active {
        opacity: .3;
      }
    }
  }
}
