@import './src/util/variables';

.checkbox {
  position: relative;
  height: 1.25rem;
  width: 1.25rem;
  border-radius: 0.1875rem;
  cursor: pointer;
  transition:
          background-color 200ms ease-in-out,
          border-color 200ms ease-in-out,
          color 200ms ease-in-out;
  opacity: 1;
  border: 2px solid rgba($black, .1);

  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    margin: 0;
    padding: 0;
    opacity: 0;
    z-index: 200;
  }

  .icon {
    font-size: 0.75rem;
    position: absolute;
    top: .25rem;
    left: .25rem;
    color: transparent;
  }

  &:hover {
    border-color: rgba($black, .2);
  }

  &--checked {
    background-color: $primary-blue;
    border-color: $primary-blue;

    .icon {
      color: $white;
    }
  }

}
