@use "../../../../src/util/variables";

.domains {
  @extend %col-nowrap;

  .domain + .domain {
    border-top: 1px solid variables.$border-gray;
  }

  .loader {
    margin: 1rem auto;
  }

  &__empty {
    text-align: center;
    margin: 1rem auto;
    @extend %regular-font;
    font-weight: 700;
    color: variables.$border-gray;
  }
}

.domain {
  @extend %row-nowrap;
  align-items: center;
  padding: 1rem variables.$gutter;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: variables.$lightgray;
  }

  &:active {
    background-color: rgba(variables.$black, .075);
  }

  &__info {
    @extend %col-nowrap;
    flex: 1 0 auto;

    &__name {
      @extend %row-nowrap;
      @extend %lite-font;
      align-items: center;
      font-weight: 600;

      &__status {
        margin-left: .25rem;
        font-size: .75rem;
        padding: .125rem .25rem;
        border-radius: .125rem;
        color: rgba(variables.$primary-blue, .75);
        background-color: rgba(variables.$primary-blue, .1);
      }
    }

    &__expiry {
      @extend %small-font;
      color: variables.$secondary-text;
    }
  }

  &__actions {
    @extend %col-nowrap;
    flex: 0 0 auto;
    height: 100%;

    &__value {
      @extend %regular-font;
      flex: 1 1 auto;
      font-weight: 600;
    }

    &__action {
      flex: 1 1 auto;
    }
  }
}
