$primary-text: 	hsl(0, 0%, 8%);
$secondary-text: 	hsl(0, 0%, 40%);
$label-text: $secondary-text;

$primary-blue: hsl(214, 94%, 56%);

$white: 	hsl(0, 0%, 100%);
$black: 	hsl(0, 0%, 0%);
$lightgray: hsl(0, 0%, 94%);
$header-gray: $lightgray;
$border-gray: hsl(0, 0%, 87%);

$error-red: hsl(0, 91%, 55%);
$success-green: hsl(145, 65%, 50%);
$warning-orange: 	hsl(36, 100%, 55%);

$text-base-size: 16px;
$app-width: 357px;
$app-height: 600px;
$gutter: 1.25rem;
$border-radius: 0.15rem;

%flex {
  display: flex;
}

%col-nowrap {
  @extend %flex;
  flex-flow: column nowrap;
}

%row-nowrap {
  @extend %flex;
  flex-flow: row nowrap;
}

%small-font {
  font-size: .8125rem;
  line-height: 1.3125;
}

%lite-font {
  font-size: .875rem;
  line-height: 1.3125;
}

%regular-font {
  font-size: .9375rem;
  line-height: 1.3125;
}

%h1-font {
  font-size: 2rem;
  line-height: 1.3125;
}

%h2-font {
  font-size: 1.5rem;
  line-height: 1.3125;
}

%h3-font {
  font-size: 1.17rem;
  line-height: 1.3125;
}

%h5-font {
  font-size: .83rem;
  line-height: 1.3125;
}

%h4-font {
  font-size: 1rem;
  line-height: 1.3125;
}

%bold {
  font-weight: 600;
}

%ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%clickable {
  cursor: pointer;
  transition: 200ms ease-in-out;

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: 1;
  }
}

$breakpoint-tablet: 768px;

table {
  @extend %col-nowrap;
  width: 100%;
  border-collapse: collapse;
}

thead {
  @extend %bold;
  @extend %lite-font;
  flex: 0 0 auto;
  background-color: $black;
  color: rgba($white, .5);
  text-transform: uppercase;
}

tr {
  @extend %row-nowrap;

  &:nth-of-type(odd) {
    background-color: rgba($black, .1);
  }
}

td {
  align-items: flex-start;
  flex: 1 1 auto;
  padding: .75rem 1.5rem;
}

tbody {
  flex: 1 1 auto;
  td {
    @extend %lite-font;
  }
}

small {
  color: $secondary-text;
}
