@use "../../../util/variables";

div#modal {
  position: relative;
  z-index: 1000;
}

.modal {
  &__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(variables.$black, .7);
    z-index: 100;
    overflow: auto;
  }

  &__wrapper {
    width: 24rem;
    margin: 3rem auto;
    background-color: variables.$white;
    border-radius: .5rem;
    box-shadow: 0 2px 8px 4px rgba(variables.$black, .2);
    z-index: 200;
  }
}
