@import "./src/util/variables";

.login {
  @extend %col-nowrap;
  flex: 1 1 auto;
  align-items: center;
  padding: 0 $gutter;

  &__content {
    @extend %col-nowrap;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    width: 100%;
    cursor: default;

    &__logo {
      margin: 0 auto;
    }

    .input-group {
      margin-top: 2rem;
      width: 100%;
    }
  }

  &__footer {
    @extend %col-nowrap;
    width: 100%;
    padding: 0 0 $gutter;

    .error-message {
      text-align: center;
    }

    .button {
      @extend %row-nowrap;
      justify-content: center;
      width: 100%;
    }
  }
}
