@use "../../../../src/util/variables" as *;

.send-tx {
  &__amount-input {
    .icon {
      width: 5rem !important;
      height: 1.5rem !important;
      opacity: 0.8;
      align-self: center;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }

      &:active {
        opacity: 0.9;
      }
    }
  }

  &__input + &__input {
    margin-top: 1rem;
  }

  &__select {
    @extend %col-nowrap;
    margin-top: 1rem;

    &__label {
      @extend %small-font;
      color: $label-text;
      padding: 0 0.5rem 0.25rem;
      cursor: default;
    }

    &__content {
      @extend %row-nowrap;

      .select-group {
        flex: 1 1 auto;
        width: 0;
        margin-right: 1rem;
      }

      .input-group {
        flex: 1 1 auto;
        width: 0;
      }
    }
  }
}
