@import "./src/util/variables";

.welcome {
  &__logo {
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 1.5rem;
  }

  &__paragraph {
    color: $secondary-text;
    text-align: center;
    padding: 0 1.25rem;
  }
}

.terms {
  &__contentbox {
    @extend %small-font;
    cursor: text;
    overflow-y: auto;
    padding: .5rem 1rem;
    background-color: rgba($black, .025);
    color: rgba($black, .7)
  }

  &__checkbox {
    @extend %row-nowrap;
    align-items: center;
    margin-bottom: 1rem;

    .checkbox {
      flex: 0 0 auto;
      margin-right: .5rem;
    }
  }
}

.reveal-seed {
  margin-top: .5rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  grid-auto-rows: max-content;
  grid-gap: .35rem;
  align-items: center;

  &__seed {
    @extend %row-nowrap;
    @extend %regular-font;
    align-items: center;

    &__index {
      @extend %lite-font;
      color: $secondary-text;
      margin-right: .5rem;
      min-width: 1.125rem;
      user-select: none;
    }

    &__word {
      border-bottom: 1px dashed $border-gray;
      color: $primary-text;
      width: 100%;
    }

    &__input {
      @extend %regular-font;
      color: $primary-text;
      border: none;
      border-bottom: 1px dashed $border-gray;
      width: 0;
      flex: 1 1 auto;
      outline: none;
    }
  }
}
