@use "../../../../src/util/variables";

.transactions {
  @extend %col-nowrap;

  .transaction + .transaction {
    border-top: 1px solid variables.$border-gray;
  }

  .loader {
    margin: 1rem auto;
  }

  &__empty {
    text-align: center;
    margin: 1rem auto;
    @extend %regular-font;
    font-weight: 700;
    color: variables.$border-gray;
  }
}

.transaction {
  @extend %row-nowrap;
  align-items: center;
  padding: 1rem 1.25rem;
  cursor: pointer;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: variables.$lightgray;
  }

  &:active {
    background-color: rgba(variables.$black, .075);
  }

  &--pending {
    opacity: .5;
    background-color: variables.$lightgray;

    &:hover {
      background-color: rgba(variables.$black, .075);
    }

    &:active {
      background-color: rgba(variables.$black, .1);
    }
  }

  &__icon {
    @extend %row-nowrap;
    flex: 0 0 auto;
    width: 2rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid variables.$black;
    border-radius: 50%;
  }

  &__body {
    @extend %col-nowrap;
    flex: 1 1 auto;
    width: 0;
    padding-left: 1rem;

    &__action {
      @extend %row-nowrap;
      @extend %lite-font;
      font-weight: 600;
      height: 1.125rem;

      &__name {
        @extend %row-nowrap;
        @extend %clickable;
        color: variables.$secondary-text;
        margin: 0 .5rem 0 .25rem;
        font-weight: 400;
        flex: 1 1 auto;
        width: 0;
        overflow: hidden;

        .name {
          @extend %ellipsis;
          border-bottom: 1px dashed variables.$border-gray;
          width: fit-content;
          flex: 0 1 auto;
        }
      }
    }

    &__date {
      @extend %small-font;
      color: variables.$secondary-text;
    }
  }

  &__value {
    @extend %col-nowrap;
    height: 100%;
    align-items: flex-end;

    &__amount {
      @extend %regular-font;
      flex: 1 1 auto;
      font-weight: 600;

      &--positive {
        color: variables.$success-green;
      }

      &--negative {
        color: variables.$error-red;
      }
    }

    &__action {
      flex: 1 1 auto;
    }
  }
}
