@import "./src/util/variables";

.app-header {
  @extend %row-nowrap;
  height: 4rem;
  width: 100%;
  background-color: $header-gray;
  border-bottom: 2px solid $header-gray;
  position: relative;

  &__bob-icon--moving {
    display: none;
  }

  &__bob-move-icon {
    position: absolute;
    top: .6875rem;
    left: 1.1875rem;
    display: none;

    &--moving {
      display: block;
    }
  }

  &__l {
    @extend %row-nowrap;
    flex: 1 0 auto;
    align-items: center;
    padding: 0 1.25rem;
  }

  &__r {
    @extend %row-nowrap;
    justify-content: flex-end;
    flex: 1 1 auto;
    align-items: center;
    padding: 0 1.25rem;
  }
}
