@import "./src/util/variables";

.app-header {
  @extend %row-nowrap;
  flex: 0 0 auto;
  height: 4rem;
  width: 100%;
  background-color: $header-gray;
  border-bottom: 2px solid $header-gray;
  position: relative;

  &__bob-icon,
  &__bob-move-icon {
    cursor: pointer;
    &:hover,
    &:active {
      opacity: 1;
    }
  }

  &__bob-icon--moving {
    display: none;
  }

  &__bob-move-icon {
    position: absolute;
    top: .6875rem;
    left: 1.1875rem;
    display: none;

    &--moving {
      display: block;
    }
  }

  &__speech-bubble {
    z-index: 300;
    font-size: .6875rem;
    line-height: 1.3125;
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    cursor: default;
    color: $primary-text;
    position: fixed;
    top: 54px;
    left: 12px;
    background-color: $white;
    opacity: .9;
    padding: .75rem 1.25rem;
    border-radius: .25rem;
    width: 12rem;
    box-shadow:
            0 0.125rem 0.5rem rgba(0, 0, 0, .1),
            0 0.0625rem 0.125rem rgba(0, 0, 0, .1);

    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      bottom: 100%;
      left: 1.5em; // offset should move with padding of parent
      border: .375rem solid transparent;
      border-top: none;

      // looks
      border-bottom-color: #fff;
      filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    }
  }

  &__l {
    @extend %row-nowrap;
    flex: 1 0 auto;
    align-items: center;
    padding: 0 1.25rem;
  }

  &__r {
    @extend %row-nowrap;
    justify-content: flex-end;
    flex: 1 1 auto;
    align-items: center;
    padding: 0 1.25rem;
  }
}
