@use "../../../../src/util/variables";

.input {
  @extend %regular-font;
  padding: .5rem .5rem;
  outline: none;
  background-color: transparent;
  border: none;
  width: calc(100% - 2rem);
  color: variables.$primary-text;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;

  &::placeholder {
    color: rgba(variables.$white, .2);
  }

  &:disabled {
    cursor: default;
  }
}

.input-group {
  @extend %col-nowrap;
  width: 100%;

  &__label {
    @extend %small-font;
    color: variables.$label-text;
    padding: 0 0 .5rem;
    cursor: default;
  }

  &__error-message {
    @extend %small-font;
    color: variables.$error-red;
    padding: .25rem .5rem 0;
  }

  &__group {
    @extend %row-nowrap;
    background-color: variables.$lightgray;
    border-bottom: 1px solid variables.$border-gray;
    border-radius: .125rem;

    &:focus-within {
      background-color: rgba(variables.$black, .035);
      border-bottom: 1px solid variables.$primary-blue;
    }

    .icon {
      opacity: .2;
      transition: opacity 150ms ease-in-out;
      margin-right: .75rem;

      &:hover {
        opacity: .3;
      }

      &:active {
        opacity: .4;
      }
    }
  }
}
