@import "./src/util/variables";

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

html, body {
  font-size: 16px;
  width: 357px;
  height: 600px;
}

a {
  color: $primary-blue;
}

.popup {
  @extend %col-nowrap;
  width: 100vw;
  height: 100vh;
  display: flex;

  &__loading {
    @extend %col-nowrap;
    background-color: $header-gray;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 358px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  .popup {
    width: 36rem;
    height: 40rem;
    border: 1px solid $border-gray;
    margin: 3rem auto;
    background-color: $white;
    box-shadow: 0 2px 4px 0px $header-gray;
  }
}

