@use "../../../../src/util/variables";

body {
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

html, body {
  font-size: variables.$text-base-size;
  width: 100%;
  min-width: variables.$app-width;;
  height: variables.$app-height;
}

a {
  color: variables.$primary-blue;
}

.popup {
  @extend %col-nowrap;
  width: 100vw;
  height: 100vh;
  display: flex;

  &__loading {
    @extend %col-nowrap;
    background-color: variables.$header-gray;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 358px) {
  body {
    width: 100vw;
    height: 100vh;
  }

  .popup {
    max-width: 36rem;
    height: 40rem;
    border: 1px solid variables.$border-gray;
    margin: 3rem auto;
    background-color: variables.$white;
    box-shadow: 0 2px 4px 0px variables.$header-gray;
  }
}

