@import "./src/util/variables";
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

html, body {
  font-size: 15px;
  width: 357px;
  height: 600px;
}

.popup {
  @extend %col-nowrap;
  width: 357px;
  height: 600px;
  display: flex;
}
