@import "./src/util/variables";

.settings {
  .regular-view__header {
    border-bottom: 1px solid $border-gray;

    &__l {
      @extend %row-nowrap;
      align-items: center;

      .icon {
        margin-right: 1rem;
      }
    }
  }

  .regular-view__content {
    padding: 0;
  }
}

.setting-group {
  @extend %row-nowrap;
  align-items: center;
  border-bottom: 1px solid $border-gray;
  padding: 1rem 1.25rem;
  @extend %clickable;

  &__l {
    flex: 1 1 auto;
  }

  &__title {
    @extend %h3-font;
    color: $primary-text;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__children {
    margin-top: .5rem;
  }

  &__actions {
    @extend %row-nowrap;
    margin-top: .5rem;
    justify-content: flex-end;

    .button {
      height: auto;
      padding: .25rem .75rem;

      .loader {
        height: 1.1875rem !important;
        width: 1.1875rem !important;
      }
    }
  }

  &__description {
    @extend %h5-font;
    color: $secondary-text;
  }

  .icon {
    flex: 0 0 auto;
    color: $primary-blue;
  }
}
