@import "./src/util/variables";

.wallet-menu {
  border: 1px solid $border-gray;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 300;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  &__menu {
    position: absolute;
    z-index: 200;
    border-radius: 0.1875rem;
    top: 100%;
    right: 0;
    background-color: $white;
    box-shadow: 0 2px 2px 1px rgba($black, 0.1);
    width: 16rem;

    &__divider {
      border-top: 1px solid $border-gray;
    }

    &__pill {
      @extend%row-nowrap;
      @extend%clickable;
      background-color: rgba($black, 0.05);
      border-radius: 0.25rem;
      font-size: 0.6875rem;
      color: rgba($primary-text, 0.75);
      margin-left: 0.5rem;
      padding: 0.15rem 0.5rem;
    }

    &__create-account {
      @extend %clickable;
      display: none;
      align-items: center;
      justify-content: center;
      background-color: $primary-blue;
      border-radius: 50%;
      color: $white;
      height: 1.25rem;
      width: 1.25rem;
    }

    &__row {
      @extend %row-nowrap;
      align-items: center;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      transition: background-color 200ms ease-in-out;

      &:hover {
        background-color: rgba($black, 0.035);
      }

      &:active {
        background-color: $lightgray;
      }

      .identicon {
        border: 1px solid $border-gray;
        width: 1.5rem;
        height: 1.5rem;
      }

      .icon {
        border: 1px solid transparent;
        width: 1.5rem;
        height: 1.5rem;
        padding: 0.125rem;
      }

      &__name {
        @extend %lite-font;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        margin-left: 0.5rem;

        &:hover {
          .wallet-menu__menu__create-account {
            display: flex;
          }
        }
      }
    }

    &__accounts {
      background-color: $lightgray;
      // border-top: 1px solid $border-gray;
      // border-bottom: 1px solid $border-gray;
      max-height: 137.5px;
      overflow-y: auto;

      &__row {
        @extend %row-nowrap;
        align-items: center;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
        transition: background-color 200ms ease-in-out;

        &:hover {
          background-color: rgba($black, 0.035);
        }

        &:active {
          background-color: $lightgray;
        }

        &__name {
          @extend %lite-font;
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: space-between;
          font-weight: 500;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
