@import "./src/util/variables";

.wallet-menu {
  border: 2px solid $border-gray;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  z-index: 300;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  &__menu {
    position: absolute;
    z-index: 200;
    border-radius: .1875rem;
    top: 100%;
    right: 0;
    background-color: $white;
    box-shadow: 0 2px 2px 1px rgba($black, .1);
    width: 16rem;

    &__divider {
      border-top: 1px solid $border-gray;
    }

    &__row {
      @extend %row-nowrap;
      align-items: center;
      padding: .25rem .5rem;
      cursor: pointer;
      transition: background-color 200ms ease-in-out;

      .identicon {
        border: 1px solid $border-gray;
        width: 1.5rem;
        height: 1.5rem;
      }

      .icon {
        border: 1px solid transparent;
        width: 1.5rem;
        height: 1.5rem;
        padding: .125rem;
      }

      &__name {
        @extend %lite-font;
        font-weight: 500;
        margin-left: 1rem;
      }

      &:hover {
        background-color: rgba($black, .035);
      }

      &:active {
        background-color: rgba($black, .05);
      }
    }
  }
}
