@use "../../../../src/util/variables";

.home {
  @extend %col-nowrap;
  height: 100%;
  overflow-y: auto;

  &__account {
    @extend %row-nowrap;
    background-color: variables.$lightgray;
    cursor: default;
    flex: 0 0 auto;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem;

    &-info {
      @extend %col-nowrap;
      cursor: pointer;
      // padding: .125rem .5rem;
      padding: 0.125rem 0;

      &__label {
        color: variables.$primary-text;
        font-weight: 600;
      }

      &__spendable {
        @extend %h2-font;
        font-weight: 600;
      }

      &__address {
        @extend %row-nowrap;
        align-items: center;
        color: variables.$secondary-text;
        // height: 1.125rem;

        small {
          margin-right: 0.25rem;
        }
      }
    }

    &-util {
      
    }
  }

  &__wallet {
    @extend %row-nowrap;
    background-color: variables.$lightgray;
    border-bottom: 1px solid variables.$border-gray;
    cursor: default;
    flex: 0 0 auto;
    padding: 1.25rem;

    &-info {
      @extend %row-nowrap;
      align-items: center;
      justify-content: space-between;
      // padding: .125rem .5rem;
      padding: 0.125rem 0;
      width: 100%;

      &__label {
        color: variables.$label-text;
        font-weight: 500;
        text-transform: uppercase;
      }

      &__spendable {
        @extend %h1-font;
        font-size: 2.25rem;
        font-weight: 500;
      }

      &__locked {
        color: variables.$success-green;
        height: 1.125rem;
      }
    }
  }

  .hns {
    @extend %row-nowrap;
    @extend %h2-font;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;

    &__symbol {
      @extend %flex;
      align-items: center;
      justify-content: center;
      background: variables.$white;
      border: 1px solid variables.$black;
      border-radius: 50%;
      margin-right: 0.25rem;
      padding: 0.3rem;
    }
  }

  .identicon {
    height: 4.125rem;
    width: 4.125rem;
    border: 1px solid variables.$border-gray;
    border-radius: 50%;
  }

  &__actions {
    @extend %row-nowrap;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    overflow-x: auto;
    padding: 1.25rem 2rem;

    .home-action-btn {
      flex: 0 0 auto;
    }
  }

  &__list {
    @extend %col-nowrap;
    flex: 1 1 auto;
    height: 0;
    cursor: default;
    margin-top: 0.5rem;

    &__header {
      @extend %row-nowrap;

      &__tab {
        @extend %row-nowrap;
        @extend %clickable;
        @extend %lite-font;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid variables.$border-gray;
        color: variables.$label-text;
        font-weight: 600;
        padding: 1rem 1.5rem;

        &--selected {
          color: variables.$black;
          border-color: variables.$primary-blue;
        }
      }
    }

    &__content {
      flex: 1 1 auto;
      height: 0;
    }
  }

  &--fixed-header {
    .home__list__header {
      position: fixed;
      top: 66px;
      left: 0;
      width: 100%;
      background-color: variables.$white;
      z-index: 200;
    }

    .home__list__content {
      margin-top: 2.5rem;
    }
  }
}

@media only screen and (min-width: 358px) {
  .home {
    &--fixed-header {
      .home__list__header {
        top: 115px;
        left: 0;
        right: 0;
        width: 36rem;
        margin: 0 auto;
        background-color: variables.$white;
      }
    }
  }
}
