@import "./src/util/variables";

.home {
  @extend %col-nowrap;
  height: 100%;
  overflow-y: auto;

  &__top {
    @extend %row-nowrap;
    padding: 1.25rem;
    cursor: default;
    flex: 0 0 auto;
  }

  .identicon {
    height: 4.125rem;
    width: 4.125rem;
    border: 1px solid $border-gray;
    border-radius: 50%;
  }

  &__account-info {
    @extend %col-nowrap;
    padding: .125rem .5rem;

    &__label {
      color: $label-text;
      font-weight: 500;
      text-transform: uppercase;

    }

    &__spendable {
      @extend %h2-font;
      font-weight: 600;
    }

    &__locked {
      color: $success-green;
      height: 1.125rem;
    }
  }

  &__actions {
    @extend %row-nowrap;
    padding: .25rem 2rem 1rem;
    overflow-x: auto;
    flex: 0 0 auto;

    .home-action-btn {
      flex: 0 0 auto;
      padding-right: 1.25rem;
    }
  }

  &__list {
    @extend %col-nowrap;
    flex: 1 1 auto;
    height: 0;
    cursor: default;
    margin-top: .5rem;

    &__header {
      @extend %row-nowrap;
      border-bottom: 1px solid $border-gray;

      &__tab {
        @extend %row-nowrap;
        @extend %clickable;
        @extend %lite-font;
        flex: 1 1 auto;
        align-items: center;
        justify-content: center;
        color: $label-text;
        font-weight: 600;
        padding: 1rem 1.5rem;

        &--selected {
          color: $black;
        }
      }
    }

    &__content {
      flex: 1 1 auto;
      height: 0;
    }
  }

  &--fixed-header {
    .home__list__header {
      position: fixed;
      top: 66px;
      left: 0;
      width: 100%;
      background-color: $white;
      z-index: 200;
    }

    .home__list__content {
      margin-top: 2.5rem;
    }
  }
}


@media only screen and (min-width: 358px) {
  .home {
    &--fixed-header {
      .home__list__header {
        top: 115px;
        left: 0;
        right: 0;
        width: 36rem;
        margin: 0 auto;
        background-color: $white;
      }
    }
  }
}
