@use "../../../../src/util/variables";

.select-group {
  @extend %col-nowrap;

  &__label {
    @extend %small-font;
    color: variables.$label-text;
    padding: 0 .5rem .25rem;
    cursor: default;
  }

  &__error-message {
    @extend %small-font;
    color: variables.$error-red;
    padding: .25rem .5rem 0;
  }
}

select {
  @extend %regular-font;
  padding: .375rem .5rem;
  cursor: pointer;
  outline: none;
  background-color: variables.$lightgray;
  color: variables.$primary-text;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  border: 1px solid transparent;
  border-radius: variables.$border-radius;

  &:focus-within {
    background-color: rgba(variables.$black, .035);
    border: 1px solid variables.$primary-blue;
  }
}
