@import "./src/util/variables";

.confirm-tx {
  .input-group {
    margin-bottom: 1rem;
  }

  &__total-group {
    @extend %row-nowrap;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba($primary-blue, .1);
    border-radius: 3px;
    align-items: center;

    &__label {
      font-weight: 800;
    }

    &__amount {
      @extend %h3-font;
      flex: 1 1 auto;
      text-align: right;
      font-weight: 300;
    }
  }
}
