@use "../../../../src/util/variables";

.confirm-tx {
  .input-group {
    margin-bottom: 1rem;
  }

  &__total-group {
    @extend %row-nowrap;
    margin-top: 1.5rem;
    padding: 1rem;
    background-color: rgba(variables.$primary-blue, .1);
    border-radius: 3px;
    align-items: center;

    &__label {
      font-weight: 800;
    }

    &__amount {
      @extend %h3-font;
      flex: 1 1 auto;
      text-align: right;
      font-weight: 300;
    }
  }

  &__detail-group {
    border-radius: 4px;
    border: 1px solid variables.$border-gray;
    margin-bottom: .5rem;
    background-color: rgba(0, 0, 0, .025);
  }

  &__inputs-group,
  &__outputs-group {
    @extend %col-nowrap;
    @extend %small-font;
    padding: .25rem .5rem;

    &__title {
      @extend %small-font;
      color: variables.$label-text;
      margin-bottom: .25rem;
      cursor: default;
    }
  }

  &__input-group,
  &__output-group {
    @extend %col-nowrap;
    margin-bottom: .25rem;
    color: variables.$secondary-text;

    &__top {
      @extend %row-nowrap;
      align-items: center;
      margin-bottom: .25rem;
    }

    &__action {
      font-size: 0.6125rem;
      padding: .25rem;
      background-color: variables.$primary-text;
      color: variables.$white;
      font-weight: 700;
      margin-right: .25rem;
    }

    &__address {
      flex: 1 1 auto;
    }

    &__value {
      text-align: right;
    }
  }

  .textarea-group {
    margin-bottom: 1rem;
    color: variables.$secondary-text;

    .textarea {
      @extend %h5-font;
      font-family: "Roboto Mono";
      white-space: pre;
      line-height: 1.5;
    }
  }

  &__expand-toggle {
    @extend %clickable;
    text-align: center;
    font-size: .8125rem;
    color: #2580F8;
    margin: .5rem 0;
  }
}
