@use "../../../../src/util/variables";

.connect {
  &__status-pill {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: variables.$border-radius;
    // background-color: $header-gray;
    border: 1px solid variables.$border-gray;
    color: variables.$primary-text;
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__status-number {
    font-weight: 600;
    margin-right: 1rem;
  }

  &__status-symbol {
    .ledger-circle-check-container {
      display: flex;
      background-color: variables.$border-gray;
      border-radius: 99px;
      height: 1.25rem;
      width: 1.25rem;

      &.ledger-circle-check-container__active {
        background-color: variables.$primary-blue;
      }
    }
  }
}
