@use "../../../../src/util/variables";

.regular-view {
  @extend %col-nowrap;
  flex: 1 1 auto;
  cursor: default;

  &__header {
    @extend %row-nowrap;
    align-items: center;
    background-color: variables.$lightgray;
    padding: 1rem 1.25rem;
    border-bottom: 1px solid variables.$border-gray;

    &__l {
      @extend %h3-font;
      font-weight: 600;
      flex: 1 1 auto;
    }

    &__r {
      @extend %row-nowrap;
      justify-content: flex-end;
      flex: 1 1 auto;
    }
  }

  &__action {
    @extend %lite-font;
    @extend %clickable;
    color: variables.$primary-blue;
    font-weight: 600;
  }

  &__content {
    @extend %col-nowrap;
    padding: 1rem 1.25rem;
    flex: 1 1 auto;
    height: 0;
    overflow-y: auto;
  }

  &__footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 1rem 1.25rem;
    border-top: 1px solid variables.$border-gray;

    .button {
      @extend %row-nowrap;
      justify-content: center;
      width: 100%;
    }
  }
}
